.container {
    max-width: 1024px;
    margin: 0 auto;
}

.quem-usa {
    display: flex;
    align-items: center;
    /* justify-content: center;
    flex-direction: column; */
    margin: 0 auto;
    margin-bottom: 10px;
}

.back-quem {
    background-image: url('/public/assets/capa-quem-confia.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 100%;
}

.box-quem-usa {
    background-color: #ff0500;
    width: auto;
    padding: 10px;
    border-radius: 10px;

}

@media (max-width: 850px) {
    .quem-usa { flex-direction: column; }
}
