.container {
    max-width: 1024px;
    margin: 0 auto;
}

header {
    background-image: url("/public/assets/background-topo.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 110px;
}

.secao-topo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-topo {
    width: 250px;
    color: #fff;
    text-shadow: 0 0 20px #000;
}

.links-centro-topo a {
    padding: 10px;
    color: #fff;
    font-weight: bold;
}

.links-centro-topo a:nth-child(2) {
    border-left: 2px solid #fff;
}

.login {
    font-size: 24px;
    font-weight: bold;
    color: #ee7b0f;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    transition: .3s ease-in-out;
}

.login:hover {
    transform: scale(1.15);
}

.logo-topo, .links-centro-topo, .login {
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

@media (max-width: 320px) {
    .secao-topo { flex-direction: column; }
    header { height: 250px; margin: 0 auto; }
}

@media (max-width: 600px) {
    .secao-topo { flex-direction: column; }
    header { height: 250px; margin: 0 auto; }
} 