.container {
    max-width: 1024px;
    margin: 0 auto;
}

.banner {
    background-image: url('/public/assets/banner(1).png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 65vh;
    background-color: aquamarine;    
}

.banner-secundario {
    background-image: url('/public/assets/banner-vazio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 20vh;
    display: none;
}

.box-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.titulo-banner {
    color: #fff;
    font-size: 26px;
    font-weight: 6000;

}

@media (max-width: 2580px) {
    .banner { height: 45vh; }
}

@media (max-width: 1820px) {
    .banner { height: 25vh; }
}

@media (max-width: 1030px) {
    .banner { height: 18vh; }
}

@media (max-width: 750px) {
    .banner { height: 15vh; }
}

@media (max-width: 550px) {
    .banner { display: none; }
    .banner-secundario { display: block; }
}
